.main{}
.chapter-list{
    padding: 10px;
}
.card{border: 2px solid rgba(0, 0, 0, 0.125);}
.chapter-list img, .section-list img{max-width: 150px; }
.chapter-list h2{font-size: 20px; text-transform: uppercase;}
.form-button button{margin-right: 10px;}