.main{flex-direction: column;}
.chapter-list{
    border: 2px solid #949292;
    margin-bottom: 1px;
    width: 25%;
    padding: 10px;
    
}
.chapter-list h2{font-size: 20px;}
.form-button button{margin-right: 10px;}