.main{}
.chapter-list{
    border: 2px solid #949292;
    margin-bottom: 1px;
    flex-basis: 24%;
    max-width: 24%;
    padding: 10px;
    margin: 5px;
    
}
.chapter-list h2{font-size: 20px;}
.form-button button{margin-right: 10px;}